.contact {
    background-color: #57068c;
    min-height: 90vh;
    padding: 20px;
    text-align: center;
    font-family: "Trebuchet MS", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    box-sizing: border-box;
  }

  a {
    color: grey;
  }

  .contactContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .contactTitle {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color:white;
  }

  .contactInfo {
    color: white;
    width: 90%;
    max-width: 1200px;
    margin-top: 0;
    padding: 0 10px;
    line-height: 1.5;
    box-sizing: border-box;
    text-align: center;
  }