.footer {
    width: 100%;
    height:300px;
    background-color: #121619;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    font-family: "Trebuchet MS", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    box-sizing: border-box;
  }
  
  .socialMedia svg {
    color: white;
    margin: 20px;
    font-size: 70px;
    cursor: pointer;
    fill: white;
    width: 50px;
    height: 50px;
  }

  .github svg {
    color: white;
    font-size: 50px;
    cursor: pointer;
  }

  .violet-diabolo {
    color: white;
  }